<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="UTF-8">
      <title>订单列表 - 巧克力专营</title>
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/js.cookie-2.2.1.min.js"></script>
      <script src="/js/chocoUtils.js"></script>
   </head>

   <body>
      <div id="navbar"></div>
      <script>
         $("#navbar").load("/navbar")
      </script>

      <div class="container">
         <div class="row" style="margin-top: 100px;">
            <div class="col">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <th>订单号</th>
                        <th>总价</th>
                        <th>支付方式</th>
                        <th>创建时间</th>
                        <th>状态</th>
                        <th>操作</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr th:each="order : ${orderList}" th:id="${order.orderUuid}">
                        <td th:text="${order.orderUuid}"></td>
                        <td th:text="'￥'+${order.orderPayment}"></td>
                        <td th:if="${order.orderPaymentType == 0}">货到付款</td>
                        <td th:if="${order.orderPaymentType == 1}">支付宝</td>
                        <td th:if="${order.orderPaymentType == 2}">微信</td>
                        <td th:text="${#dates.format(order.orderCreateTime, 'yyyy年MM月dd日 HH:mm:ss')}"></td>
                        <td th:if="${order.orderStatus == 0}">未付款</td>
                        <td th:if="${order.orderStatus == 1}">未发货</td>
                        <td th:if="${order.orderStatus == 2}">已发货</td>
                        <td th:if="${order.orderStatus == 3}">已送达</td>
                        <td th:if="${order.orderStatus == 4}">交易成功</td>
                        <td th:if="${order.orderStatus == 5}">交易关闭</td>
                        <td th:if="${order.orderStatus == 6}">退货中</td>
                        <td th:if="${order.orderStatus == null}"></td>
                        <td>
                           <div><a th:href="@{'/order/detail/'+${order.orderUuid}}">查看详情</a></div>
                           <div><a th:if="${order.orderStatus == 0}" th:href="@{'pay/'+${order.orderUuid}}">付款</a></div>
                           <div><a th:if="${order.orderStatus == 0}" th:href="@{'cancel/'+${order.orderUuid}}">取消订单</a></div>
                           <div><a th:if="${order.orderStatus == 2}" th:href="@{'consign/'+${order.orderUuid}}">确认收货</a></div>
                           <div><a th:if="${order.orderStatus >= 1 and order.orderStatus < 4}" th:href="@{'/order/return/'+${order.orderUuid}}">退货</a></div>
                        </td>
                     </tr>

                  </tbody>
               </table>
            </div>
         </div>
      </div>

      <footer id="footer"></footer>
      <script>
         $("#footer").load("/footer")
      </script>
   </body>

</html>