<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

   <head>
      <meta charset="UTF-8">
      <title></title>
      <link href="/css/bootstrap.min.css" rel="stylesheet">
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/js.cookie-2.2.1.min.js"></script>
      <script src="/js/chocoUtils.js"></script>

   </head>

   <body>
      <div id="navbar"></div>
      <script>
         $("#navbar").load("/navbar")
      </script>

      <div class="container">
         <div class="row" style="margin-top: 100px;">
            <div class="col">
               <table class="table table-striped">
                  <tbody>
                     <tr>
                        <th>订单号</th>
                        <td th:text="${order.orderUuid}"></td>
                     </tr>
                     <tr>
                        <th>总金额</th>
                        <td th:text="'￥'+${order.orderPayment}"></td>
                     </tr>
                     <tr>
                        <th>支付方式</th>
                        <td th:text="${order.orderPaymentType}"></td>
                     </tr>
                     <tr>
                        <th>订单状态</th>
                        <td th:if="${order.orderStatus == 0}">未付款</td>
                        <td th:if="${order.orderStatus == 1}">未发货</td>
                        <td th:if="${order.orderStatus == 2}">已发货</td>
                        <td th:if="${order.orderStatus == 3}">已送达</td>
                        <td th:if="${order.orderStatus == 4}">交易成功</td>
                        <td th:if="${order.orderStatus == 5}">交易关闭</td>
                        <td th:if="${order.orderStatus == 6}">退货中</td>
                        <td th:if="${order.orderStatus == null}"></td>
                     </tr>
                     <tr>
                        <th>创建时间</th>
                        <td th:text="${order.orderCreateTime}"></td>
                     </tr>
                     <tr>
                        <th>更新时间</th>
                        <td th:text="${order.orderUpdateTime}"></td>
                     </tr>
                     <tr>
                        <th>商品列表</th>
                        <td>
                           <div th:each="entry : ${cartMap}">
                              <span th:text="'商品ID：'+${entry.key}"></span>
                              <span th:text="'数量：'+${entry.value}"></span>
                           </div>
                        </td>
                     </tr>
                  </tbody>
               </table>
               <a th:if="${order.orderStatus < 4}" th:href="@{'consign/'+${order.orderUuid}}">确认收货</a>
            </div>
         </div>
      </div>

   </body>

</html>